@model BibleForum.Models.Forum.ForumIndexModel

@{
    ViewData["Title"] = "Forum Index";
}


<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            Browse Forums
        </div>
        <div class="sectionDescription">
            <p>Welcome to <strong>BibleForum</strong> community. Post are categorized into separate forums by the books found in the Bible.</p>
            <p>
                Please read the forum guidelines before creating a new post.
                @if (!User.Identity.IsAuthenticated)
                {
                    <span>You must be a <a asp-controller="Account" asp-action="Register">registered member</a> to create a new post</span>
                }
            </p>
        </div>
    </div>

    @*
        Start
    *@

    <div class="comment-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#old-testament" role="tab" data-toggle="tab">
                <span class="text-uppercase reviews" style="font-family:Roboto">Old Testament</span>
                </a>
            </li>

            <li>
                <a href="#new-testament" role="tab" data-toggle="tab">
                    <span class="text-uppercase reviews" style="font-family:Roboto">New Testament</span>
                </a>
            </li>
        </ul>

        <div class="tab-content tab-content-oldOrNew">
            <div class="tab-pane active" id="old-testament">
                <div class="row" id="forumIndexContent">
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var forum in Model.ForumListingOld)
                            {
                                <tr>
                                    <td style="width:4%">
                                        <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">
                                            <div class="forumLogo" style="background-image:url(@forum.ImageUrl); background-size:100%;"></div>
                                        </a>
                                    </td>
                                    <td style="width:13%">
                                        <div class="forumData">
                                            <div class="forumTitle" style="padding-top:5px">
                                                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">@forum.Title</a>
                                            </div>
                                            <div class="forumSubtitle">
                                                @if (forum.HasRecentPost)
                                                {
                                                    <div class="hasRecentPost">Hot</div>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:10%">
                                        <div class="forumPostCount">
                                            @forum.NumberOfPosts Posts
                                        </div>
                                        <div class="forumMemberCount">
                                            @forum.NumberOfUsers Users
                                        </div>
                                    </td>
                                    <td style="width:73%">
                                        <div class="forumDescription">
                                            @forum.Description
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="new-testament">
                <div class="row" id="forumIndexContent">
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var forum in Model.ForumListingNew)
                            {
                                <tr>
                                    <td style="width:4%">
                                        <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">
                                            <div class="forumLogo" style="background-image:url(@forum.ImageUrl); background-size:100%;"></div>
                                        </a>
                                    </td>
                                    <td style="width:13%">
                                        <div class="forumData">
                                            <div class="forumTitle" style="padding-top:5px">
                                                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">@forum.Title</a>
                                            </div>
                                            <div class="forumSubtitle">
                                                @if (forum.HasRecentPost)
                                                {
                                                    <div class="hasRecentPost">Hot</div>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:10%">
                                        <div class="forumPostCount">
                                            @forum.NumberOfPosts Posts
                                        </div>
                                        <div class="forumMemberCount">
                                            @forum.NumberOfUsers Users
                                        </div>
                                    </td>
                                    <td style="width:73%">
                                        <div class="forumDescription">
                                            @forum.Description
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @*
        End
    *@
</div>
