@model BibleForum.Models.Post.PostIndexModel
@inject UserManager<BibleForum.Data.Models.ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span class="postIndexTitle">
                @Model.Title
            </span>
        </div>
        <div class="forumLogo" style="background-image:url(@Model.ForumImage);background-size: 100%;"></div>
        <span id="headingBtn">
            <a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.ForumId" class="btn btn-back">Back to @Model.ForumName</a>
        </span>
    </div>

    <div class="row" id="postIndexContent">
        <div class="col-md-3 postAuthorContainer">
            <div class="postAuthorImage" style="background-image: url(@Model.AuthorImageUrl);"></div>
            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.AuthorId">
                @Model.AuthorName
            </a>
            <span class="postDate">@Model.Created</span>
            @if (Model.IsAuthorAdmin)
            {
                <div class="isAdmin smaller">Admin</div>
            }
        </div>
        <div class="col-md-9 postContentContainer">

            <div class="postContent" style="white-space: pre-line">
                @Html.Raw(Model.PostContent)
            </div>
        </div>
    </div>

    <div class="row" id="replyDivider"></div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row" id="postReplyRow">
            <span>
                <a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply">Post Reply</a>
            </span>
        </div>
    }

    @if (Model.Replies.Any())
    {
        foreach (var reply in Model.Replies)
        {
        <div class="row replyContent">
            <div class="col-md-3 replyAuthorContainer">
                <div class="postAuthorImage" style="background-image:url(@reply.AuthorImageUrl)"></div>
                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.AuthorId">
                    @reply.AuthorName
                </a>
                <br />
                @if (reply.IsAuthorAdmin)
                {
                    <div class="isAdmin smaller">Admin</div>
                    <br />
                }
                <span class="postDate">@reply.Created</span>
            </div>
            <div class="col-md-9 replyContentContainer">
                <div class="postContent" style="white-space: pre-line ">
                    @Html.Raw(reply.ReplyContent)
                </div>
            </div>
            @if (reply.AuthorId == @UserManager.GetUserId(User))
            {
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <a asp-controller="Reply" asp-action="Edit" asp-route-id="@reply.Id" class="btn btn-edit">Edit</a>
                <a asp-controller="Reply" asp-action="Delete" asp-route-id="@reply.Id" class="btn btn-delete">Delete</a>
            </div>
            }
        </div>

            <div class="row" id="replyDivider"></div>
        }
    }
    else
    {
        <div class="noPosts">
            <h3>
                There are no replies to this post
                <br />
            </h3>
        </div>
    }
</div>
