@model BibleForum.Models.Post.PostIndexModel
@inject UserManager<BibleForum.Data.Models.ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<div class="container body-content body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span class="postIndexTitle">
                @Model.Title
            </span>
        </div>
        <div class="forumLogo" style="background-image:url(@Model.ForumImage);background-size: 100%;"></div>
        <span id="headingBtn">
            <a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.ForumId" class="btn btn-back">Back to @Model.ForumName</a>
        </span>
    </div>

    <div class="row postIndexBox">
        <div class="col-md-2 postAuthorContainer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left postAuthorImage img-circle" style="background-image: url(@Model.AuthorImageUrl);"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.AuthorId">
                        @Model.AuthorName
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <span class="postDate">@Model.Created</span>

                    @if (Model.IsAuthorAdmin)
                    {
                        <div class="isAdmin smaller">Admin</div>
                    }

                    @if (Model.IsEdited)
                    {
                        <div class="isEditedPost smaller">Edited</div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-10 postContentContainer">

            <div class="postContent" style="white-space: pre-line">
                @Html.Raw(Model.PostContent)
            </div>

            @if (Model.AuthorId == @UserManager.GetUserId(User))
            {
                <div class="row">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-2">
                        <div class="btn-group" role="group">
                            <a asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-toolbar">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to delete this post?');" class="btn btn-toolbar">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="page-header">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="well text-center" style="background-color:white">
                <a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-fresh text-uppercase btn-lg">
                    Add Comment
                </a>
            </div>
        }
    </div>

    @if (Model.Replies.Any())
    {
        <div class="comment-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#comments" role="tab" data-toggle="tab"><span class="text-uppercase reviews" style="font-family:Roboto">Comments</span></a></li>
                @*
                    <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add comment</h4></a></li>
                *@
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="comments">
                    <ul class="media-list">
                        <li class="media">
                            @if (Model.Replies.Any())
                            {
                                foreach (var reply in Model.Replies)
                                {
                                    <div class="pull-left postAuthorImage img-circle" style="background-image:url(@reply.AuthorImageUrl)"></div>
                                    <div class="media-body">
                                        <div class="wellColor well-lg">
                                            <h4 class="media-heading text-uppercase reviews">
                                                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.AuthorId">
                                                    <span style="font-family:Roboto">
                                                        @reply.AuthorName
                                                    </span>
                                                </a>
                                            </h4>
                                            @if (reply.IsAuthorAdmin)
                                            {
                                                <div class="isAdmin smaller">Admin</div>
                                            }

                                            @if (reply.IsEdited)
                                            {
                                                <div class="isEditedPost smaller">Edited</div>
                                                <br />
                                            }

                                            <ul class="media-date text-uppercase reviews list-inline">
                                                <li class="dd">@reply.Created.Day</li>
                                                <li class="mm">@reply.Created.Month</li>
                                                <li class="aaaa">@reply.Created.Year</li>
                                            </ul>
                                            <p class="media-comment" style="white-space: pre-line ">
                                                @Html.Raw(reply.ReplyContent)
                                            </p>
                                            @if (reply.PostReplySupportingBibleVerses.Any())
                                            {
                                                <div class="supportingBibleVerse">
                                                    @foreach (var verse in reply.PostReplySupportingBibleVerses)
                                                    {
                                                        <blockquote class="quote-box">
                                                            <p class="quotation-mark">
                                                                “
                                                            </p>
                                                            <p class="quote-text">
                                                                @verse.BibleVerse
                                                            </p>
                                                            <hr>
                                                            <div class="blog-post-actions">
                                                                <p class="blog-post-bottom pull-left">
                                                                    @verse.BibleBook @verse.BibleChapter @verse.BibleTranslation
                                                                </p>
                                                                @*
                                                                    <p class="blog-post-bottom pull-right">
                                                                            <span class="badge quote-badge">2222</span>  ❤
                                                                    </p>
                                                                *@
                                                                @if (reply.AuthorId == @UserManager.GetUserId(User))
                                                                {
                                                                    <p class="blog-post-bottom pull-right">
                                                                        <a asp-controller="SupportingVerse" asp-action="Delete" asp-route-id="@verse.Id" onclick="return confirm('Are you sure you want to delete this verse?');">
                                                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                                                        </a>
                                                                    </p>
                                                                }
                                                            </div>
                                                        </blockquote>
                                                    }
                                                </div>
                                            }

                                            <div class="row">
                                                <div class="col-md-10" style="text-align:left">
                                                    <a asp-controller="ReplyReply" asp-action="Create" asp-route-id="@reply.Id" class="btn btn-info btn-circle" id="reply">
                                                        <span class="glyphicon glyphicon-share-alt"></span> Reply
                                                    </a>

                                                    <a class="btn btn-warning btn-circle" data-toggle="collapse" href="#@reply.Id">
                                                        @if (reply.PostReplyReplies.Any() && reply.PostReplyReplies.Count() > 1)
                                                        {
                                                            <span class="glyphicon glyphicon-comment"></span>@reply.PostReplyReplies.Count() <span>Comments</span>
                                                        }
                                                        else if (reply.PostReplyReplies.Any() && reply.PostReplyReplies.Count() == 1)
                                                        {
                                                            <span class="glyphicon glyphicon-comment"></span>@reply.PostReplyReplies.Count() <span>Comment</span>
                                                        }
                                                        else if (!reply.PostReplyReplies.Any())
                                                        {
                                                            <span class="glyphicon glyphicon-comment"></span><span>No Comments</span>
                                                        }
                                                    </a>

                                                    @if (reply.AuthorId == UserManager.GetUserId(User))
                                                    {
                                                        <a asp-controller="SupportingVerse" asp-action="Create" asp-route-id="@reply.Id" class="btn btn-info btn-circle">
                                                            <span class="glyphicon glyphicon-plus-sign"></span> Verse
                                                        </a>
                                                    }
                                                    @if (reply.AuthorId == @UserManager.GetUserId(User))
                                                    {
                                                        <div class="btn-group" role="group">
                                                            <a asp-controller="Reply" asp-action="Edit" asp-route-id="@reply.Id" class="btn btn-toolbar">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </a>
                                                            <a asp-controller="Reply" asp-action="Delete" asp-route-id="@reply.Id" onclick="return confirm('Are you sure you want to delete this post?');" class="btn btn-toolbar">
                                                                <span class="glyphicon glyphicon-trash"></span>
                                                            </a>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-md-2" style="text-align:right">
                                                    <div class="vote">
                                                        <a asp-controller="Reply" asp-action="Vote" asp-route-id="@reply.Id" class="btn btn-success btn-circle">
                                                            <span class="glyphicon glyphicon-thumbs-up"></span> Like <span class="voteCount">(@reply.VoteCount)</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    if (reply.PostReplyReplies.Any())
                                    {
                                        <div class="collapse" id="@reply.Id">
                                            <ul class="media-list">
                                                @foreach (var replyreply in reply.PostReplyReplies)
                                                {
                                                    <li class="media media-replied" id="@replyreply.Id">
                                                        <div class="pull-left postAuthorImage img-circle" style="background-image:url(@replyreply.AuthorImageUrl)">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="well well-lg">
                                                                <h4 class="media-heading text-uppercase reviews">
                                                                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@replyreply.AuthorId">
                                                                        <span style="font-family:Roboto">
                                                                            @replyreply.AuthorName
                                                                        </span>
                                                                    </a>
                                                                </h4>
                                                                @if (replyreply.IsAuthorAdmin)
                                                                {
                                                                    <div class="isAdmin smaller">Admin</div>
                                                                    <br />
                                                                }
                                                                <ul class="media-date text-uppercase reviews list-inline">
                                                                    <li class="dd">@replyreply.Created.Day</li>
                                                                    <li class="mm">@replyreply.Created.Month</li>
                                                                    <li class="aaaa">@replyreply.Created.Year</li>
                                                                </ul>
                                                                <p class="media-comment" style="white-space: pre-line">
                                                                    @Html.Raw(replyreply.ReplyContent)
                                                                </p>
                                                                <div class="row">
                                                                    <div class="col-md-10 " style="text-align:left">
                                                                        @if (replyreply.AuthorId == @UserManager.GetUserId(User))
                                                                        {
                                                                            <div class="btn-group" role="group">
                                                                                <a asp-controller="ReplyReply" asp-action="Edit" asp-route-id="@replyreply.Id" class="btn btn-toolbar">
                                                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                                                </a>

                                                                         
                                                                                <a asp-controller="ReplyReply" asp-action="Delete" asp-route-id="@replyreply.Id" class="btn btn-toolbar">
                                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                                </a>
                                                                           

                                                                                @*
                                                                                    <a class="btn btn-toolbar testDelete" data-id="@replyreply.Id" data-controller="ReplyReply" data-action="Delete">
                                                                                        <span class="glyphicon glyphicon-trash"></span>
                                                                                    </a>
                                                                                *@

                                                                            </div>
                                                                        }
                                                                    </div>

                                                                    <div class="col-md-2" style="text-align:right">
                                                                        <div class="vote">
                                                                            <a asp-controller="ReplyReply" asp-action="Vote" asp-route-id="@replyreply.Id" class="btn btn-primary btn-circle">
                                                                                <span class="glyphicon glyphicon-thumbs-up"></span> Like <span class="voteCount">(@replyreply.VoteCount)</span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                }
                            }
                        </li>
                    </ul>
                </div>
                @*
                    <div class="tab-pane" id="add-comment">
                        <form action="#" method="post" class="form-horizontal" id="commentForm" role="form">
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Comment</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="uploadMedia" class="col-sm-2 control-label">Upload media</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">http://</div>
                                        <input type="text" class="form-control" name="uploadMedia" id="uploadMedia">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                *@
            </div>
        </div>
    }
    else
    {
        <div class="noPosts">
            <h3>
                There are no replies to this post
                <br />
            </h3>
        </div>
    }
</div>

@section Scripts{ 
    <script>
        $(document).ready(function (e) {

            //Delete Action
            $(".").on('click', (e) => {
                e.preventDefault();

                target = e.target;
                var Id = $(target).data('id');
                var controller = $(target).data('controller');
                var action = $(target).data('action');

                $.ajax({
                    type: "",
                    url: "/" + controller + "/" + action,
                    data: '{Id: ' + Id + ' }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (json) {

                    },
                    failure: function (response) {
                        alert('error');
                    },
                    error: function (response) {
                        alert('error');
                    }
                });

            });
        }

    </script>
}

