@model BibleForum.Models.Post.PostIndexModel
@inject UserManager<BibleForum.Data.Models.ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span class="postIndexTitle">
                @Model.Title
            </span>
        </div>
        <div class="forumLogo" style="background-image:url(@Model.ForumImage);background-size: 100%;"></div>
        <span id="headingBtn">
            <a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.ForumId" class="btn btn-back">Back to @Model.ForumName</a>
        </span>
    </div>

    <div class="row postIndexBox">
        <div class="col-md-2 postAuthorContainer">
            <div class="pull-left postAuthorImage img-circle" style="background-image: url(@Model.AuthorImageUrl);"></div>
            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.AuthorId">
                @Model.AuthorName
            </a>
            <span class="postDate">@Model.Created</span>
            @if (Model.IsAuthorAdmin)
            {
                <div class="isAdmin smaller">Admin</div>
            }
        </div>
        <div class="col-md-10 postContentContainer">

            <div class="postContent" style="white-space: pre-line">
                @Html.Raw(Model.PostContent)
            </div>
        </div>
    </div>

    <div class="page-header">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="well text-center">
                <a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-fresh text-uppercase btn-lg">
                    Add Comment
                </a>
            </div>
        }
    </div>
    <div class="comment-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#comments" role="tab" data-toggle="tab"><span class="text-uppercase reviews" style="font-family:Roboto">Comments</span></a></li>
            @*
            <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add comment</h4></a></li>
            *@
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="comments">
                <ul class="media-list">
                    <li class="media">
                        @if (Model.Replies.Any())
                        {
                            foreach (var reply in Model.Replies)
                            {
                                <div class="pull-left postAuthorImage img-circle" style="background-image:url(@reply.AuthorImageUrl)"></div>
                                <div class="media-body">
                                    <div class="well well-lg">
                                        <h4 class="media-heading text-uppercase reviews">
                                            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.AuthorId">
                                                <span style="font-family:Roboto">
                                                    @reply.AuthorName
                                                </span>
                                            </a>
                                        </h4>
                                        @if (reply.IsAuthorAdmin)
                                        {
                                            <div class="isAdmin smaller">Admin</div>
                                            <br />
                                        }
                                        <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="dd">@reply.Created.Day</li>
                                            <li class="mm">@reply.Created.Month</li>
                                            <li class="aaaa">@reply.Created.Year</li>
                                        </ul>
                                        <p class="media-comment" style="white-space: pre-line ">
                                            @Html.Raw(reply.ReplyContent)
                                        </p>
                                        @if (reply.PostReplySupportingBibleVerses.Any())
                                        {
                                            <div class="supportingBibleVerse">
                                                @foreach (var verse in reply.PostReplySupportingBibleVerses)
                                                {
                                                    <blockquote class="quote-box">
                                                        <p class="quotation-mark">
                                                            “
                                                        </p>
                                                        <p class="quote-text">
                                                            @verse.BibleVerse
                                                        </p>
                                                        <hr>
                                                        <div class="blog-post-actions">
                                                            <p class="blog-post-bottom pull-left">
                                                                @verse.BibleBook @verse.BibleChapter @verse.BibleTranslation
                                                            </p>
                                                            <p class="blog-post-bottom pull-right">
                                                                <span class="badge quote-badge">896</span>  ❤
                                                            </p>
                                                        </div>
                                                    </blockquote>
                                                }
                                            </div>
                                        }
                                        @if (reply.IsEdited)
                                        {
                                            <div class="isEdited doubleLineBreak">
                                                <p>(This comment has been edited - @reply.EditedCreatedDate)</p>
                                            </div>
                                        }
                                        <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                        <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyOne"><span class="glyphicon glyphicon-comment"></span> 2 comments</a>
                                        @if (reply.AuthorId == UserManager.GetUserId(User))
                                        {
                                            <a asp-controller="SupportingVerse" asp-action="Create" asp-route-id="@reply.Id" class="btn btn-info btn-circle text-uppercase">
                                                <span class="glyphicon glyphicon-plus-sign"></span> Add a verse
                                            </a>
                                        }
                                        @if (reply.AuthorId == @UserManager.GetUserId(User) || User.IsInRole("Admin"))
                                        {
                                            <div class="btn-group" role="group">
                                                <a asp-controller="Reply" asp-action="Edit" asp-route-id="@reply.Id" class="btn btn-default btn-circle text-uppercase">
                                                    <span class="glyphicon glyphicon-wrench"></span> Edit
                                                </a>
                                                <a asp-controller="Reply" asp-action="Delete" asp-route-id="@reply.Id" class="btn btn-default btn-circle text-uppercase">
                                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                                </a>
                                            </div>
                                        }
                                        <div class="vote">
                                            <a asp-controller="Reply" asp-action="Vote" asp-route-id="@reply.Id" class="btn btn-success btn-circle text-uppercase">
                                                <span class="glyphicon glyphicon-thumbs-up"></span> Like <span class="voteCount">(@reply.VoteCount)</span>
                                            </a>
                                        </div>
                                    </div>
                                </div> @*Media Body div End*@

                                <div class="collapse" id="replyOne">
                                    <ul class="media-list">
                                        <li class="media media-replied">
                                            <a class="pull-left" href="#">
                                                <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg" alt="profile">
                                            </a>
                                            <div class="media-body">
                                                <div class="well well-lg">
                                                    <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> Lizz</h4>
                                                    <ul class="media-date text-uppercase reviews list-inline">
                                                        <li class="dd">22</li>
                                                        <li class="mm">09</li>
                                                        <li class="aaaa">2014</li>
                                                    </ul>
                                                    <p class="media-comment">
                                                        Classy!
                                                    </p>
                                                    <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            }
                        }
                    </li>
                </ul>
            </div>
            @*
            <div class="tab-pane" id="add-comment">
                <form action="#" method="post" class="form-horizontal" id="commentForm" role="form">
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Comment</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="uploadMedia" class="col-sm-2 control-label">Upload media</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon">http://</div>
                                <input type="text" class="form-control" name="uploadMedia" id="uploadMedia">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
                        </div>
                    </div>
                </form>
            </div>
             *@
        </div>
    </div>

    @if (Model.Replies.Any())
    {

    }
    else
    {
        <div class="noPosts">
            <h3>
                There are no replies to this post
                <br />
            </h3>
        </div>
    }
</div>

