@model BibleForum.Models.Home.HomeIndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container body-content">
    <div class="row frontPageSplash">
        <div class="frontPageLearn">
            <div class="frontPageHeading"><span>Learn bible artifacts, share biblical knowledge and more!</span></div>
            <p class="frontPageSubHeading">
                <span><strong>BibleForum</strong> is a New Zealand based bible forum website.</span>
            </p>
            <div>
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search..." />
                </form>
            </div>
        </div>
    </div>
    <div class="row frontPageContent">
        <h3 style="font-family:Roboto">Latest Posts!</h3>
        <table class="table table-hover" id="latestPostsTable">
            <tbody>
                @foreach(var post in Model.LatestPosts)
                {
                    <tr>
                        <td>
                            <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                                <div class="forumLogo" style="background-image: url(@post.Forum.ImageUrl); background-size: 100%"></div>
                            </a>
                            <div class="postTitle">
                                <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                                    @post.Title
                                </a>
                            </div>
                            <div class="postSubTitle">
                                @if (post.RepliesCount == 1)
                                {
                                    <span>@post.RepliesCount Reply</span>
                                }
                                @if (post.RepliesCount == 0)
                                {
                                    <span>No replies.</span>
                                }
                                @if (post.RepliesCount > 1)
                                {
                                    <span>@post.RepliesCount Replies</span>
                                }
                                <span class="postUser">
                                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                        @post.AuthorName
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>