@model BibleForum.Models.Reply.PostReplyModel

@{
    ViewData["Title"] = "Create Reply";
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            @Model.PostTitle
        </div>
        <div class="forumLogo" style="background-image:url(@Model.ForumImageUrl);background-size: 100%;"></div>
        <span id="headingBtn">
            <a asp-controller="Post" asp-action="Index" asp-route-id="@Model.PostId" class="btn btn-back">
                Back to Post
            </a>
        </span>
    </div>
    <div class="row createPostSection">
        <div id="postReply">
            <p style="white-space: pre-line">
                @Model.PostContent
            </p>
        </div>
        <div class="row">
            <div id="createReply">
                <div class="authorBlock">
                    You're submitting this Reply as <strong>@Model.AuthorName</strong>
                </div>

                <form asp-action="AddReply" method="post" id="addPostForm">
                    @Html.ValidationSummary(false, null, new { @class = "text-danger h4" })
                    <div class="form-group">
                        <textarea asp-for="ReplyContent" rows="12" class="form-control" placeholder="Your reply.."></textarea>
                        <span asp-validation-for="ReplyContent" class="text-danger"></span>

                    </div>
                    <button type="submit" id="submitReplyBtn" class="btn btn-submitPost">Submit Reply</button>
                    <input asp-for="AuthorId" type="hidden" />
                    <input asp-for="PostId" type="hidden" />
                    <input asp-for="ForumId" type="hidden" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
